@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ARKA PLAN */
body {
    background-color: rgb(35,35,35);
    color: white;
    padding: 0 40px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.nav a:hover {
    color: rgb(255, 0, 166);
    text-shadow: 2px 2px 10px rgb(255, 0, 166);
    transition: all 0.5s;
}

.contact-btn {
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 66px;
    color: white;
    font-size: 15px;

    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
}

/* KARŞILAMA ALANI */

.hero {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
}

/* SOL TARAF */
.left{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero-info {
    display: flex;
    gap: 40px;
    align-items: center;
}

.info-p {
    max-width: 400px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;

    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
}

.button:hover {
    background-image: linear-gradient(
        315deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
}

/* SAĞ TARAF */
.right {
    width: 500px;
    height: 400px;
}

.right img {
    width: 100%;
}

/* FİRMALAR ALANI */

.brands {
    display: flex;
    justify-content: space-between;
}

.drops {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categories {
    display: flex;
    gap: 50px;
}

.categories li {
    list-style: none;
    background-color: gray;
    padding: 16px 32px;
    border-radius: 60px;
    transition: all 0.5s;
}

.categories li:hover {
    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
    transition: all 0.5s;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
}

.card {
    width: 280px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

/* Orta Kısım */
.card-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(187, 0, 244);
}
.card-info img{
    width: 25px;
}

/* Alt Kısım */
.card-footer {
    display: flex;
    justify-content: space-between;
}
.card-footer p{
    background-color: rgb(188, 188, 188);
    padding: 4px 8px;
    border-radius: 20px;
    color: rgb(187, 0, 244);
}
.card-footer button{
    border: none;
    background-color: #2bd2ff;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}